<div class="page-header">
	<p><strong>Show Note</strong></p>
</div>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @note.title %></dd>
  <dt><strong>Body:</strong></dt>
  <dd><%= @note.body %></dd>
</dl>
<div class="form-actions">
  <%= link_to 'edit', edit_note_path(@note), :class => 'btn' %>
  <%= link_to 'back', notes_path, :class => 'btn' %>
</div>


<%#= link_to 'Edit', edit_note_path(@note) %> 
<%#= link_to 'Back', notes_path %>
