
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="./">Mobile Demo App</a>

          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "User", users_path %></li>
              <li><%= link_to "Note", notes_path  %></li>
              <li><%= link_to "Image", images_path  %></li>
            </ul>
          </div><!--/.nav-collapse -->

        </div><!--/.conainer-fluid -->
      </div><!--/.navbar-inner -->
    </div><!--/.navbar navbar-fluid-top -->